/* * {
  border: 1px solid red;
} */

iframe {
  max-width: 100%;
  /* display: flex; */
}

/* приемущества */

.sedona-advant {
  position: relative;
}

.sedona-advant h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 30px;
}

.sedona-advant>p {
  text-align: center;
  margin-bottom: 50px;
  padding: 0 30px;
}

.advat-items {
  display: grid;
  grid-template: 250px 330px 250px 250px / 1fr 1fr 1fr;
  align-items: start;
}

.big-advat__item-1 {
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
  background-color: #81b3d2;
  color: #fff;
}

.big-advat__item:nth-child(2) .item__card {
  order: 2;
}

.big-advat__item:nth-child(2) {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
  overflow: hidden;
  background-color: #81b3d2;
  color: #fff;
}

.advat__item.card-grey {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.item__card {
  text-align: center;
  align-self: center;
  word-wrap: break-word;
  padding: 10% 10%;
}

.item__card h3 {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 25px;
}

.item__card p:first-of-type {
  margin-bottom: 20px;
}

.item__foto {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.advat-item__more {
  position: absolute;
  top: 35%;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  box-shadow: none;
}

.advat-item__more .item__card {
  align-self: start;
}

/* дополнительные приемущества */

.advat-item__more p:first-of-type {
  display: inline-flex;
  width: 75px;
  height: 75px;
  background-image: url("../svg/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.item__card-2 p:first-of-type {
  background-image: url("../svg/icon-3.svg");
}

.item__card-3 p:first-of-type {
  background-image: url("../svg/icon-2.svg");
}

.advat-item__more h3 {
  margin-bottom: 25px;
}

@media (max-width: 769px) {

  .advat-items {
    grid-template: 250px 280px 250px 250px / 1fr 1fr 1fr;
  }

  .big-advat__item-1 {
    grid-template: 1fr / 1fr 1fr;
  }

  .big-advat__item:nth-child(2) {
    grid-template: 1fr / 1fr 1fr;
  }

  .item__card h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .item__card p {
    font-size: 12px;
    line-height: 1.6;
  }

  .item__card p:first-of-type {
    margin-bottom: 18px;
  }

  .advat-item__more p:first-of-type {
    width: 55px;
    height: 55px;
    background-size: 87%;
  }

  .item__card {
    padding: 30px 10%;
  }
}

@media (max-width: 545px) {
  

  .sedona-advant h2 {
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 30px;
    padding: 0 30px;
  }

  .sedona-advant>p {
    margin-bottom: 30px;
    padding: 0 30px;
    font-size: 12px;
  }

  .advat-items {
    grid-template: 250px 280px 250px 155px 155px 155px/ 1fr 1fr 1fr;
  }

  .advat-items .advat__item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .advat-items .advat__item:nth-child(3) h3,
  .advat-items .advat__item:nth-child(3) p {
    margin: 0;
  }

  .advat-items .advat__item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #81b3d2;
    color: #fff;
  }

  .advat-items .advat__item:nth-child(4) h3,
  .advat-items .advat__item:nth-child(4) p {
    margin: 0;
  }

  .advat-items .advat__item:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .advat-items .advat__item:nth-child(5) h3,
  .advat-items .advat__item:nth-child(5) p {
    margin: 0;
  }

  .advat__item .item__card {
    padding: 40px 10px;
  }

  .advat-item__more {
    display: flex;
    flex-direction: column;
    top: 31%;
  }

  .advat-item__more .item__card {
    display: flex;
    align-items: center;
    padding: 10px 30px;
  }

  .advat-item__more .item__card p:first-child {
    margin: 0 15px 0 0;
  }

  .advat-item__more .item__card h3 {
    margin: 0 15px 0 0;
  }
}

.search-addres h2 {
  margin-top: 60px;
  margin-bottom: 35px;
  font-size: 30px;
  text-align: center;
}

.search-addres p {
  margin-bottom: 140px;
  text-align: center;
  padding: 0 10px;
}

.button-modal {
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 85px;
  border: none;
  padding: 0;
  background-color: #fff;
}

.button-modal h3 {
  min-width: 550px;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 21px;
  line-height: 85px;
  text-transform: uppercase;
  background-color: #766257;
}

@media (max-width: 769px) {
  .search-addres p {
    margin-bottom: 55px;
  }

  .button-modal .low-res {
    font-size: 18px;
    min-width: 300px;
    width: 100%;
  }
}

@media (max-width: 545px) {
  .search-addres h2 {
    font-size: 25px;
  }
}

/* модальное окно поиска */

.search-addres {
  position: relative;
}

.search-form {
  position: absolute;
  width: 570px;
  height: 400px;
  bottom: 75px;
  left: 50%;
  margin-left: -285px;
  box-sizing: border-box;
  padding: 60px 55px 55px;
  background-color: #fff;
}

.adult,
.children {
  display: flex;
  align-items: center;
}

.number {
  display: flex;
  position: relative;
  width: 80px;
}

.adult label,
.children label {
  margin-right: 10px;
  font-weight: bold;
}

.number input[type="number"] {
  display: block;
  height: 28px;
  line-height: 32px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.number-minus {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #a9a9a9;
}

.number-plus {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #a9a9a9;
}

@media (max-width: 769px) {
  .search-form {
    display: none;
  }
}

/* футер */

.main-footer__container {
  background-color: rgba(254, 254, 254, 0.9);
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
}

.hashtag-footer {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  margin: auto;
}

.social {
  display: grid;
  grid-template: 46px / 46px 46px 46px;
  justify-content: center;
  gap: 5px;
}

.social__item {
  background-color: #81b3d2;
}

.social__item:hover {
  background-color: #669ec1;
  transition: all 0.2s ease;
}

.social__item:active {
  background-color: #5596be;
  box-shadow: inset 0px 0px 25px 13px rgba(85, 150, 190, 0.9);
}

.social__item:active::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #5596be;
}

.twitter {
  background-image: url("../svg/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.facebook {
  background-image: url("../svg/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

.youtube {
  background-image: url("../svg/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.copyright-container {
  display: flex;
  align-items: center;
  margin: auto;
}

.copyright-container span {
  margin-right: 5px;
}

.copyright svg {
  display: flex;
  width: 115px;
  height: 40px;
}

.copyright:hover path {
  transition: all 0.3s ease;
  fill: #81b3d2;
}

.copyright:active path {
  fill: #bcbabb;
}

@media (max-width: 769px) {
  .hashtag-footer {
    font-size: 15px;
  }

  .social {
    grid-template: 35px / 35px 35px 35px;
  }

  .copyright-container {
    display: block;
  }

  .copyright svg {
    width: 92px;
    height: 32px;
  }

  .copyright-container span {
    font-size: 12px;
  }
}

@media (max-width: 545px) {
  .hashtag-footer {
    font-size: 12px;
  }

  .social {
    grid-template: 30px / 30px 30px 30px;
  }

  .copyright svg {
    width: 92px;
    height: 32px;
  }

  .copyright-container span {
    font-size: 10px;
  }
}