.media__title-foto {
  font-weight: bold;
}

.media__author {
  font-weight: normal;
}

.likes {
  display: flex;
  padding: 22px 0 40px 0;
}

@media (min-width: 768px) {
  .likes {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .media__card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 0 20px;
    background-color: #F2F2F2;
  }
}

@media (min-width: 1200px) {
  .media__card-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: calc(100% - 40px);
    background-color: rgba(0, 0, 0, .3);
  }
}

.media__likes-count {
  padding-left: 14px;
  font-weight: bold;
}

.media__text {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 1200px) {
  .media__text {
    color: white;
  }
}

.media__pic {
  width: 100%;
  height: 280px;
  object-fit: cover;
  padding: 22px 0 10px 0;
}

@media (min-width: 768px) {
  .media__pic {
    height: 267px;
    padding: 0;
    grid-area: small;
  }
}

@media (min-width: 768px) {
  .media__pic_size_xl {
    height: 400px;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 768px) {
  .media__card_size_xl {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 1200px) {
  .media__card_size_xl {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}






.media__likes {
  width: 23px;
  height: 21px;
  display: block;
  fill: black;
}

.media__likes .shape{
  display: block;
  fill: black;
  opacity: .3;
  transition: .13s ease-in;
}

.media__likes .shape__likes{
  display: block;
  opacity: 0;
}

.media__likes:hover .shape,
.media__likes:focus .shape {
  opacity: 1;
}

.media__likes:active .shape {
  opacity: .3;
}

@media (min-width: 1200px) {
  .media__likes .shape{
    fill: white;
    opacity: 1;
  }
  .media__likes:hover .shape{
    opacity: .7;
  }
  .media__likes:active .shape{
    opacity: .4;
  }
}

.active .shape__likes{
  opacity: 1;
  fill: #a8cce2;
}

.active .shape{
  opacity: 1;
  fill: #5496BD;
}

.active:hover .shape {
  opacity: .3;
}

.active:active .shape {
  opacity: 1;
}

@media (min-width: 1200px) {
  .active .shape{
    opacity: 1;
    fill: white;
  }
  
  .active:hover .shape {
    opacity: .8;
  }
  
  .active:active .shape {
    opacity: .7;
  }

  .active .shape__likes{
    opacity: 1;
    fill: #3ea1da;
  }
}