.hamburger__item {
  display: block;
  position: absolute;
  top: 14px;
  left: 2px;
  right: 2px;
  height: 4px;
  background: #81B3D2;
}

.hamburger__item::before,
.hamburger__item::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #81B3D2;
}

.hamburger__item::before {
  top: -8px;
}

.hamburger__item::after {
  top: 8px;
}

.hamburger__item::before,
.hamburger__item::after {
  transition-property: top, transform;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.is-active .hamburger__item {
  background: none;
}

.is-active .hamburger__item::before,
.is-active .hamburger__item::after {
  background-color: white;
  transition-delay: 0s, 0.3s;
  top: 0;
}

.is-active .hamburger__item::before {
  transform: rotate(45deg);
}

.is-active .hamburger__item::after {
  transform: rotate(-45deg);
}