@media (min-width: 768px) {
  .media__pic_size_xl {
    height: 400px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .media__card_size_xl {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 1200px) {
  .media__card_size_xl {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}