.main-nav__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 51px);
  width: 102px;
  height: 84px;
  z-index: 5;
  transition: .13s ease-in;
}

.main-nav__logo:hover,
.main-nav__logo:focus {
  transform: 
    scale(1.04)
    translate(0, 2%); 
  z-index: 6;
}


@media (min-width: 1200px) {
  .main-nav__logo {
    width: 186px;
    height: 96px;
    left: calc(50% - 93px);
  }
}