.main-nav__list {
  display: flex;
  flex-direction: column;
  background-color: #81B3D2;
}

@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
    background-color: white;
  }
}

