.main-nav__link_active,
.main-nav__link_active {
  color: #2a689b;
}

.main-nav__link_active:hover,
.main-nav__link_active:focus {
  color: #bfdcec;
}

@media (min-width: 768px) {
  .main-nav__link_active {
    position: relative;
    color: #766357;
  }
  
  .main-nav__link_active::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #81B3D2;
  }
  
  .main-nav__link_active:hover {
    color: #493b33;
  }
}