/* Обнуляем внешние и внутренние отступы у списков */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Убираем внешние отступы */
h1,
h2,
h3,
h4,
h5,
h6
p,
li {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  margin: 0;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}