.button {
  width: 100%;
  min-height: 58px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  background-color: #81B3D2;
  border: none;
  transition: .13s ease-in;
  cursor: pointer;
}

@media (min-width: 490px) {
  .search-addres__button {
    width: 460px;
  }
}

.button:hover,
.button:focus {
  background-color: #669EC0;
}

.button:active {
  background-color: #5496BD;
  color: #265e7e;
}

.button:disabled {
  background-color: #E5E5E5;
  color: white;
}